body {
  font-size: 16px;
  color: fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/**header**/
nav {
  background-color: white;
}



div a:hover {
  color: rgb(0, 164, 252);
}

h1 {
  margin: 10px;
  color: white;
  background-color: black;
  width:50%;
  padding: 10 px;
  
}

p {
  margin: 10px;
  color: white;
  column-count: 2;
}



/**
<a class="navbar-brand" href="https://github.com/azliep/coursera-test" target="_blank">
<img src="https://dinopixel.com/preload/0122/magic-cat.png" width="60" height="30" alt="Cat">
Cathub
</a>
**/