body {
  font-size: 16px;
  color: fff;
  background-color: maroon;
  font-family: 'Oxygen', sans-serif;
}

/**header**/
nav {
  background-color: white;
}



div a:hover {
  color: rgb(0, 164, 252);
}

h1 {
  margin: 20px;
  color: white;
  background-color: black;
  padding: 30 px;
  text-transform: capitalize;
  text-align: center;

}

p {
  margin: 10px;
  color: white;
  text-align: center;
}



/**
<a class="navbar-brand" href="https://github.com/azliep/coursera-test" target="_blank">
<img src="https://dinopixel.com/preload/0122/magic-cat.png" width="60" height="30" alt="Cat">
Cathub
</a>
**/
